<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.boxing.gestioncanina">
    <!-- 🔹 Permisos necesarios -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestionCanina.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.citas.RegistrarCitaActivity"
            android:exported="false"
            android:theme="@style/Theme.GestionCanina.NoActionBar" />
        <activity
            android:name=".ui.medical.FragmentCitasRegister"
            android:exported="false" />
        <activity
            android:name=".ui.pets.AdoptionPetsFragment"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.MyPetsInfo"
            android:exported="false" />
        <activity
            android:name=".Admin.UI.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.MainAdmin"
            android:exported="false" />
        <activity
            android:name=".ui.pets.Agenda"
            android:exported="false" />
        <activity
            android:name=".ui.medical.Tratamiento"
            android:exported="false" />
        <activity
            android:name=".ui.medical.Medicamento"
            android:exported="false" />
        <activity
            android:name=".ui.medical.Observaciones"
            android:exported="false" />
        <activity
            android:name=".ui.medical.Diagnostico"
            android:exported="false" />
        <activity
            android:name=".ui.pets.PetsMe"
            android:exported="false"
            android:theme="@style/Theme.GestionCanina.NoActionBar" />
        <activity
            android:name=".ui.medical.Consultas_Veterinaria"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.Biography_Animal"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.Welcome"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.Load_screen"
            android:exported="true"
            android:theme="@style/Theme.GestionCanina.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.components.LoadingView"
            android:exported="false" />
        <activity
            android:name=".ui.components.CustomDialog"
            android:exported="false" />
        <activity
            android:name=".ui.settings.SettingsFragment"
            android:exported="false" />
        <activity
            android:name=".ui.settings.ProfileFragment"
            android:exported="false" />
        <activity
            android:name=".ui.billing.PaymentFragment"
            android:exported="false" />
        <activity
            android:name=".ui.billing.InvoiceFragment"
            android:exported="false" />
        <activity
            android:name=".ui.medical.VaccineFragment"
            android:exported="false" />
        <activity
            android:name=".ui.medical.MedicalHistoryFragment"
            android:exported="false" />
        <activity
            android:name=".ui.appointments.AppointmentDetailFragment"
            android:exported="false" />
        <activity
            android:name=".ui.appointments.AppointmentListFragment"
            android:exported="false" />
        <activity
            android:name=".ui.pets.PetDetailFragment"
            android:exported="false" />
        <activity
            android:name=".ui.pets.PetListFragment"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.adoption.AdoptionPetsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />
    </application>

</manifest>